*[b-v1947iz7i0] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page[b-v1947iz7i0] {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: radial-gradient(
    rgb(255, 255, 255),
    rgba(178, 178, 212, 0.199)
  );
}
img[b-v1947iz7i0] {
  display: block;
}
nav[b-v1947iz7i0] {
  background-color: rgba(255, 255, 255, 0.301);

  height: 4rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0);
}
nav img[b-v1947iz7i0] {
  height: auto;
  width: 6.5%;
}
main[b-v1947iz7i0] {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main p[b-v1947iz7i0] {
  margin-top: 0.5rem;
  color: rgb(7, 6, 6);
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: 4rem;
  text-shadow: 4px 4px 5px rgb(126, 10, 10);
}
.form_cont[b-v1947iz7i0] {
  width: 70%;
  border: 1px solid black;
  display: grid;
  row-gap: 0.5rem;
  border-radius: 15px;
  padding: 0.5rem;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.637);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form_cont label[b-v1947iz7i0] {
  color: black;
  font-weight: bolder;
  font-family: cursive;
  font-size: 1.2rem;
}
.form_cont input[b-v1947iz7i0] {
  background-color: transparent;
  width: 70%;
  height: 2.5rem;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid gray;
}
.form_cont button[b-v1947iz7i0] {
  width: 30%;
  height: 2.5rem;
  font-size: 1.3rem;
  font-weight: bolder;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
}
a[b-v1947iz7i0] {
  text-decoration: none;
  color: rgb(238, 14, 14);
}
.form_cont button:hover[b-v1947iz7i0],
.form_cont button:focus[b-v1947iz7i0] {
  background-color: darkgreen;
  transform: scale(1.2);
  transition: all 0.2s linear;
}
